#! /bin/bash

# Env variables for environment
export KUBEVIRT_MEMORY_SIZE=4096M
export KUBEVIRT_NUM_NODES=2
export KUBEVIRTCI_PODMAN_SOCKET=/run/user/`id -u`/podman/podman.sock
export CONTAINER_CLIENT=podman
export KUBECONFIG=/home/adi/Dev/repos/kubevirt/_ci-configs/k8s-1.30/.kubeconfig
export WHAT="//pkg/virt-api/webhooks/validating-webhook/admitters/..."
